body {
  background-color: #254D6A;
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
  height: 1366px;
}

.clock {
  padding-top: 20px;
  color: white;
  font-size: 25px;
}

.emoji {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  display: block;
}

.goodmorning {
  font-size: 90px;
  margin-top: 60px;
}

.line {
  width: 600px;
  margin-top: 80px;
  border-width: 3px;
  border-top: 1px solid white;
}

.calendar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  display: block;
}

.currentDate {
  margin-top: 80px;
}

.today {
  font-size: 90px;
}

.date {
  font-size: 90px;
  line-height: 100px;
}
