body {
  height: 1366px;
  background-color: #1abc9c;
  font-family: 'Lato', sans-serif;
  color: white;
}

.clock {
  padding-top: 20px;
  color: white;
  font-size: 25px;
  text-align: center;
}

.weaHead {
  text-align: center;
  margin-top: 55px;
}

.location {
  font-size: 60px;
  text-align: center;
}

.weaDesc {
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
}

.temperature {
  font-size: 120px;
  margin-top: 50px;
  text-align: center;
}

.weaDetail {
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  width: 740px;
}

.weaDetail li {
  display: inline-block;
  padding: 10px;
  font-size: 30px;
}

.weaDetail li.left {
  float: left;
}

.weaDetail li.right {
  float: right;
}

.line {
  width: 768px;
  margin-top: 100px;
  border-width: 1px;
  border-top: 1px solid white;
}
