<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

</head>

<body>

</body>

<script type="text/jsx">


var Time = React.createClass({
    parseTime: function(datetime) {
      var d = new Date(datetime);
      var hours = d.getHours().toString();
      if (hours.length == 1) {
        hours = "0" + hours;
      }
      var minutes = d.getMinutes().toString();
      if (minutes.length == 1) {
        minutes = "0" + minutes;
      }
      return hours + ":" + minutes;
    },
    getStart: function() {
      var datetime = this.props.start.dateTime;
      return this.parseTime(datetime);
    },
    getEnd: function() {
      var datetime = this.props.end.dateTime;
      return this.parseTime(datetime);
    },
    render: function() {
      if (this.props.start.date) {
        return <div>all-day</div>;
      } else if (this.props.endTimeUnspecified) {
        return <div>{this.getStart()}</div>;
      } else {
        return <div>
                  <div>{this.getStart()}</div>
                  <div>{this.getEnd()}</div>
                </div>;
      }
    }
});


/* The calendar color can now be accessed with this.props.color,
 * though that isn't a part of the Google spec for Events. */
var Event = React.createClass({
    render: function() {
      console.log(this.props);
      var locationDisplay;
      if (this.props.location) {
        locationDisplay = <div>{this.props.location}</div>;
      } else {
        locationDisplay = <div></div>;
      }
      var style = {
        backgroundColor: this.props.color
      }
      return <div style={style}>
                <Time {...this.props} />
                <div>{this.props.summary}</div>
                {locationDisplay}
             </div>;
    }
});

var EventList = React.createClass({
    render: function() {
      return (
        <ol>
          {
            this.props.events.map(function(elem){
              return <li><Event {...elem}/></li>;
            })
          }
        </ol>
      );
    }
});

var AuthScreen = React.createClass({
    render: function() {
      return (
        <div>
          <div>{this.props.code}</div>
          <div>{this.props.url}</div>
        </div>
      );
    }
});

var Calendar = React.createClass({
    render: function() {
      if (this.props.status == "auth") {
        return (
          <AuthScreen url={this.props.url} code={this.props.code} />
        );
      } else if (this.props.status == "events") {
        return (
          <EventList events={this.props.events} />
        );
      } else {
        return <div>404</div>;
      }
    }
});

React.render(<Calendar/>, document.body);

$.get("calendar/events", function(data) {
  console.log(data);
  React.render(<Calendar {...data}/>, document.body);
});

</script>
