.big-clock {
  color: white;
  text-align: center;
  font-size: 280px;
  margin: 50px 0 0 0;
  line-height: 280px;
}

.today {
  text-align: center;
  font-size: 50px;
  letter-spacing: 8px;
  margin-top: 15px;
  color: #bdc3c7;
}

.location {
  text-align: center;
  font-size: 60px;
  margin-top: 130px;
  margin-bottom: 0px;
  color: white;
}

.summary {
  text-align: center;
  font-size: 40px;
  margin-top: 15px;
  color: #bdc3c7;
}

.temperature {
  text-align: center;
  font-size: 200px;
  margin-top: 40px;
  color: white;
  margin-bottom: 100px;

}
