.weather-stamp {
  flex: auto;
  text-align: center;
  font-size: 30px;
  color: white;
}

.weather-stamp > .time {
  margin: auto;
}

.weather-stamp > .icon {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.canvas-sizer{
  width: 150px;
  height: 150px;
  position: absolute;
  transform: scale(.6);
}

.weather-stamp > .temp {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}
