<!doctype html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - SmartMirror</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"></link>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.js"></script>
    <style>
      @font-face {
        font-family: sf;
        src: url({{ url_for('static', filename='SF-UI-Text-Regular.otf') }});
        font-weight: normal;
      }
    </style>
    {% endblock %}
  </head>
  <body>
    {% block body %}

    {% endblock %}
  </body>
  {% block scripts %}
    $(function(){
      $(document).on('mousedown', function(event){
        


      });
    });
  {% endblock %}
</html>
